*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    overflow-x: hidden;
}

.main-container{
    width: 100%;
    display: flex;
    
}

.side-bar{
    border: 1px solid transparent;
    width: 150px;
    height: 600px;
    background: #272727;
    /* position: fixed; */
     /* Fixes the sidebar in place */  
    /* top: 0;  */
    /* Aligns the sidebar to the top */  
    /* left: 0;  */
    /* Aligns the sidebar to the left */  
     
   
   
}
.logo{
    margin-top: 20px;
    margin-left: 5px;
}

.serene-logo{
    width: 130px;
}

.dashboard{
    display: flex;
    gap: 10px;
    margin-top: 30px;
    margin-left: 10px;
}



.dash-log{
    width: 15px;
}

.dashh{
    font-size: 10px;
    font-family: sans-serif;
    color: #C7C7C7;
    font-weight: 500;
}

.dash-text{
    margin-top: 4px;
}

.dash-link{
    text-decoration: none;
   
}

.communities{
    display: flex;
    gap: 10px;
    margin-top: 17px;
    margin-left: 10px;

}

.com-log{
    width: 15px;

}

.com-txt{
    font-size: 10px;
    font-family: sans-serif;
    color: #C7C7C7;
    font-weight: 500;

}

.comm-link{
    text-decoration: none;
}

.therapists{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-left: 10px;

}

.ther-log{
    width: 15px;

}

.ther-txt{
    font-size: 10px;
    font-family: sans-serif;
    color: #C7C7C7;
    font-weight: 500;

}
.therapist-link{
    text-decoration: none;
}

.resources{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-left: 10px;
}

.res-log{
    width: 15px;

}

.res-txt{
    font-size: 10px;
    font-family: sans-serif;
    color: #C7C7C7;
    font-weight: 500;
}

.resources-text{
    margin-top: 3px;
}

.res-link{
    text-decoration: none;
}

.chats{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-left: 10px;

}

.chat-log{
    width: 15px;
}

.chat-txt{
    font-size: 10px;
    font-family: sans-serif;
    color: #C7C7C7;
    font-weight: 500;

}
.chat-text{
    margin-top: 3px;
}
.chat-link{
    text-decoration: none;
}

.my-bookings{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-left: 10px;

}

.book{
    width: 15px;
}

.booking-link{
    text-decoration: none;
}

.booking-txt{
    font-size: 10px;
    font-family: sans-serif;
    color: #C7C7C7;
    font-weight: 500;

}

.booking-text{
    margin-top: 3px;
}

.settings{
    display: flex;
    gap: 10px;
    margin-top: 255px;
    margin-left: 10px;
   
}

.set-icon{
    width: 15px;
}

.settings-link{
    text-decoration: none;
}

.set-txt{
    font-size: 10px;
    font-family: sans-serif;
    color: #FFFFFF;
    font-weight: 500;

}

.settings-text{
    margin-top: 3px;
}

.log-out{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.log{
    width: 15px;
}

.log-link{
    text-decoration: none;
}

.log-txt{
    font-size: 10px;
    font-family: sans-serif;
    color: #FFFFFF;
    font-weight: 500;

}

.logout-text{
    margin-top: 3px;
}

header{
   border-bottom: 1px solid #444444;
   width: 690px;
   height: 15vh;
   background-color: #131313;
   /* position: fixed;
   top: 0;
   left: 9.5rem;
   
   z-index: 1000; */
}



.icons{
    display: flex;
    margin-left: 600px;
    margin-top: 20px;
    gap: 15px;
}

.search{
    width: 8px;
}

.notify{
    width: 8px;

}

.profile-pic{
    width: 15px;
}

.profile{
    margin-top: 2px;
}

.welcome-message{
    margin-left: 175px;
    position: absolute;
    top: 4rem;
    margin-top: 10px;
    line-height: 25px;
}
.hey{
    color: #FFFFFF;
    font-size: 20px;
    font-family: sans-serif;
}

.welcome-para{
    color: #C7C7C7;
    font-family: sans-serif;
    font-size: 8px;
    letter-spacing: 0.7px;
   
}

.first-box{
    border: 1px solid transparent;
    width: 293px;
    height: 120px;
    border-radius: 3px;
    margin-left: 175px;
    position: absolute;
    top: 9rem;
    background: #E3DAFF;
    padding: 15px;
}

.match-text{
    color: #605A74;
    font-family: sans-serif;
    font-size: 8px;
    font-weight: 500;
    line-height: 11px;
     margin-left: -5px;
   margin-top: 10px;
   letter-spacing: 0.8px;
   padding-right: 8px;
    
}

.profile-notify{
    display: flex;
    margin-left: -5px;
    margin-top: 10px;
    gap: 5px;
}

.profile-woman{
    width: 15px;
}

.name{
    font-weight: 900;
    font-size: 10px;
    color: #0B0B0B;
}

.notify-para{
    font-family: sans-serif;
    color: #605A74;
    font-size: 9px;
    margin-top: 3px;
}

.first-buttons{
    display: flex;
    gap: 5px;
    margin-left: -5px;
    margin-top: 20px;
}

.hey-but{
    border: 1px solid #B2A4DC;
    font-size: 10px;
    padding: 5.5px 15px;
    background: #C1B4E9;
    border-radius: 3px;
    color: #211F2A;
    font-weight: 550;
    font-family: sans-serif;
    cursor: pointer;
}

.hey-but:hover{
    
    transform: scale(1.05); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.good-morn{
    font-size: 9px;
    font-weight: 550;
    font-family: sans-serif;
    color: #211F2A;
    border: 1px solid #B2A4DC;
    padding: 6px 15px;
    width: 122.5px;
    background: #C1B4E9;
    border-radius: 3px;
    cursor: pointer;
    
}

.good-morn:hover{
    
    transform: scale(1.05); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.nice-meet{
    font-size: 9px;
    font-weight: 550;
    font-family: sans-serif;
    color: #211F2A;
    border: 1px solid #B2A4DC;
    padding: 6px 2.5px;
    width: 110px;
    background: #C1B4E9;
    border-radius: 3px;
    cursor: pointer;

}

.nice-meet:hover{
    
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


.second-box{
    border: 1px solid transparent;
    width: 322.9px;
    height: 90vh;
    border-radius: 3px;
    position: absolute;
    top: 20rem;
    margin-left: 175px;
    background: #272727;
}

.not-member{
    margin-left: 110px;
    margin-top: 50px;
    
}

.not-mem{
    width: 75px;
}

.not-txt{
    color: #C7C7C7;
    font-family: sans-serif;
    font-size: 10px;
    letter-spacing: 0.6px;
    text-align: center;
    margin-top: 9px;
}

.recommended-part{
    display: flex;
    margin-top: 20px;
    margin-left: 13px;

}

.rec-txt{
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 10px;
}

.see-link{
    color: #C7C7C7;
    font-family: sans-serif;
    font-size: 8px;
    text-decoration: none;
}

.see-link:hover{
    color: #FFF963;
}
.see-all{
    margin-left: 87px;
    margin-top: -5px;
   
}

.contentbox-one{
    display: flex;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 150px;
    height: 18vh;
    gap: 10px;
    margin-left: 13px;
    background: #FFFB97;
    margin-top: 10px;
    
}

.cheers-head{
    margin-top: 10px;
}

.cheers{
    width: 30px;
}

.contentone-image{
    margin-top: 15px;
    margin-left: 7px;
}

.cheers-text{
    font-family: sans-serif;
    font-size: 10px;
    color: #191919;
}

.number{
    color: #666666;
    font-size: 8px;
    font-family: sans-serif;
}

.alcoholics{
    color: #77753A;
    background: #CEC8C1;
    border: none;
    padding: 2px 5px;
    border-radius: 7px;
    font-size: 9px;
    cursor: pointer;
}

.alcoholics:hover{
    transform: scale(1.05);
}

.number-cheers{
    margin-top: 5px;
}

.content-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.contentbox-two{
    display: flex;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 135px;
    height: 18vh;
    gap: 10px;
    margin-left: 7px;
    background: #CBE6FF;
    margin-top: 10px;

}

.contentbox-three{
    display: flex;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 150px;
    height: 18vh;
    gap: 10px;
    margin-left: 13px;
    background: #EBE5DD;
    margin-top: 10px;

}

.contentbox-four{
    display: flex;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 135px;
    height: 18vh;
    gap: 10px;
    margin-left: 7px;
    background: #E3DAFF;
    margin-top: 10px;
}

.third-box{
   border: 1px solid transparent;
   width: 310px;
   height: 90vh;
   margin-left: 510px;
   position: absolute;
   top: 9rem;
   border-radius: 3px;
   background: #272727;
}

.search-not{
    width: 75px;
}

.search-nott{
    margin-left: 110px;
    margin-top: 45px;
}

.no-schedule{
    margin-left: 80px;
    margin-top: 10px;
}
.no-appointment{
    color: #C7C7C7;
    font-family: sans-serif;
    font-size: 10px;
    width: 150px;
    letter-spacing: 0.6px;
   
}

.see-two{
    color: #C7C7C7;
    font-family: sans-serif;
    font-size: 8px;
    text-decoration: none;

}


.see-two:hover{
    color: #FFF963;
}
.seeall-two{
    margin-left: 110px;
    margin-top: -5px;
   
}

.therapists-box{
    margin-top: 10px;
    margin-left: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.firsttherapist-box{
    border: 0.4px solid #747474;
    width: 140px;
    height: 28vh;
    border-radius: 4px;
    display: flex;
    gap: 5px;
}

.secondtherapist-box{
    border: 0.4px solid #747474;
    width: 132px;
    height: 28vh;
    border-radius: 4px;
    margin-left: 5px;
    display: flex;
    gap: 5px;

}

.maryann{
    width: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

.mary{
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 10px;
}

.maryann-tit{
    color: #C7C7C7;
    font-family: sans-serif;
    font-size: 7px;
    margin-top: 5px;
}

.ratings{
    display: flex;
    gap: 2px;
}

.star-sign{
    width: 8px;
}

.review{
    color: #7B7B7B;
    font-family: sans-serif;
    font-size: 8px;
    margin-top: 6px;
    
}

.maryann-contents{
    margin-top: 10px;
}

.feelings-button{
    margin-left: -30px;
    margin-top: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.depression{
    color: #191919;
    font-family: sans-serif;
    font-size: 7px;
    padding: 4px 7px;
    border: none;
    border-radius: 9px;
    font-weight: 600;
    background: #E3DAFF;
    cursor: pointer;
}

.depression:hover{
    transform: scale(1.05);

}

.Anxiety-button{
    margin-left: -2px;
}

.Anxiety{
    color: #191919;
    font-family: sans-serif;
    font-size: 7px;
    padding: 4px 7px;
    border: none;
    border-radius: 9px;
    font-weight: 600;
    background: #FFF963;
    cursor: pointer;
    

}

.Anxiety:hover{
    transform: scale(1.05);
}

.family-issues{
    color: #191919;
    font-family: sans-serif;
    font-size: 7px;
    padding: 4px 7px;
    border: none;
    border-radius: 9px;
    font-weight: 600;
    background: #EBE5DD;
    cursor: pointer;
    margin-left: 5px;
    
}

.family-issues:hover{
    transform: scale(1.05);
}

.Familyissues-button{
    margin-left: -5px;
}

.fourth-box{
    border: 1px solid transparent;
    width: 310px;
    height: 40vh;
    position: relative;
    bottom: 5.5rem;
    margin-left:  510px;
    border-radius: 3px;
    background: #EBE5DD;
}

.mood-section{
    display: flex;
}

.mood-question{
    font-family: sans-serif;
    color: #191919;
    font-size: 11.5px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 15px;
}

.moo-date{
    color: #666666;
    font-family: sans-serif;
    font-size: 11px;
    margin-left: 15px;
    margin-top: 6px;
}

.mood-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 15px;
}

.butterfly{
   height: 40vh;
}

.mood-img{
    margin-left: 9px;
}

.anx-mood{
    padding: 6px 9px;
    font-family: sans-serif;
    font-size: 9px;
    font-weight: 600;
    color: #191919;
    background-color: #D8CFC2;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.anx-mood:hover{
    transform: scale(1.05);
}

.joy{
    padding: 6px 9px;
    font-family: sans-serif;
    font-size: 9px;
    font-weight: 600;
    color: #191919;
    background-color: #D8CFC2;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

.joy:hover{
    transform: scale(1.05);
}

.joy-mood{
    margin-left: -7px;
}

.Dep{
    padding: 6px 9px;
    font-family: sans-serif;
    font-size: 9px;
    font-weight: 600;
    color: #191919;
    background-color: #D8CFC2;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.Dep:hover{
    transform: scale(1.05);
}

.Depressed-mood{
    margin-left: -25px;

}


.surprised{
    padding: 6px 9px;
    font-family: sans-serif;
    font-size: 9px;
    font-weight: 600;
    color: #191919;
    background-color: #D8CFC2;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.surprised:hover{
    transform: scale(1.05);
}

.Surprised-mood{
    margin-top: 2px;
}


.calm{
    padding: 6px 9px;
    font-family: sans-serif;
    font-size: 9px;
    font-weight: 600;
    color: #191919;
    background-color: #D8CFC2;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

.calm:hover{
    transform: scale(1.05);
}

.calm-mood{
    margin-top: 2px;
    margin-left: 2px;
}


.stupid{
    padding: 6px 9px;
    font-family: sans-serif;
    font-size: 9px;
    font-weight: 600;
    color: #191919;
    background-color: #D8CFC2;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

.stupid:hover{
    transform: scale(1.05);
}

.stupid-mood{
    margin-top: 2px;
    margin-left: -10px;
}

.fifth-box{
    border: 1px solid transparent;
    width: 642px;
    height: 80vh;
    margin-left: 175px;
    position: relative;
    bottom: 67px;
    background-color: #272727;
    border-radius: 3px;

}

.resources-section{
    display: flex;
    justify-content: space-between;
}

.resources-two{
    margin-left: 20px;
    margin-top: 12px;
}

.resource{
    font-family: sans-serif;
    font-size: 10px;
    color: #FFFFFF;
}

.see{
    margin-right: 20px;
    margin-top: 10px;
}

.see-resource{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 8px;
    color: #C7C7C7;
}

.see-resource:hover{
    color: #FFF963;
}

.resources-list{
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

.article-button{
    padding: 4px 54px;
    font-size: 10px;
    font-family: sans-serif;
    border-radius: 3px;
    border: none;
    background: #FFF963;
    font-weight: 600;

}

.video-button{
    padding: 4px 54px;
    font-size: 10px;
    font-family: sans-serif;
    border-radius: 3px;
    border: none;
    background: #201F1F;
    color: #C7C7C7;
}

.podcast-button{
    padding: 4px 54px;
    font-size: 10px;
    font-family: sans-serif;
    border-radius: 3px;
    border: none;
    background: #201F1F;
    color: #C7C7C7;

}

.career-button{
    padding: 4px 54px;
    font-size: 10px;
    font-family: sans-serif;
    border-radius: 3px;
    border: none;
    background: #201F1F;
    color: #C7C7C7;

}

.first-goodvibe{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    gap: 15px;
}

.good-vibe{
    width: 105px;
}


.how-long{
    font-family: sans-serif;
    font-size: 10.8px;
    color: #FFFFFF;
    
}

.decade{
    color: #C7C7C7;
    font-family: sans-serif;
    font-size: 9px;
    letter-spacing: 0.5px;
    

}

.decade-text{
    width: 390px;
    margin-top: 5px;
    line-height: 13px;
}

.read{
    width: 12px;
    position: relative;
    top: 2px;
    left: 5px;
   
}

.read-more{
    margin-top: 10px;
}

.readmore-button{
    border-color:  #FFF963;
    background: transparent;
    font-family: sans-serif;
    font-size: 10px;
    color: #FFF963;
    padding: 5px 15px;
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
}

.readmore-button:hover{
    transform: scale(1.05);

}

.line2{
    width: 93%;
    margin-left: 20px;
}

